@font-face {
    font-family: 'kanit';
    src: url('../fonts/kanit-bold.woff2') format('woff2');
}

body {
    font-family: 'kanit', Helvetica;
    background: #0d1216;
}

.searchJoueur {
    background-color: #28353f;
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 90%;
    border-radius: 5px;
}

.AddFriends {
    background: #1d2933;
    margin-left: 5%;
    margin-bottom: 1%;
    width: 90%;
    border-radius: 5px;
    padding: 10px;
}

.pseudoSearch{
    margin-left: 15px;
    width: 15%;
    margin-top: 10px;
    margin-bottom: 10px;
    color: rgb(136, 174, 187);
    font-size: 1.5vw;
}

.AddFriendButton{
    height: 80%;
    font-family: 'kanit', Helvetica;
    padding-left: 60%;
    padding-right: 60%;
    border-radius: 5px;
    font-size: 1.2vw;
    cursor: pointer;
    background-color: #344858;
    border: none;
    color: rgb(136, 174, 187);
    text-decoration: none;
}

.AddFriendButton a{
    text-decoration: none;
    color: rgb(136, 174, 187);
}

.titre_amis {
    font-size: 3.5vw;
    text-align: center;
    color: bisque;
    margin-top: 23px;
    margin-bottom: 23px;
}

.titre_recherche_amis {
    font-size: 2vw;
    text-align: center;
    color: bisque;
    margin-top: 20px;
    margin-bottom: 3px;
}

.searchAmis {
    width: 40%;
    font-family: 'kanit', Helvetica;
    font-size: 2vw;
    border-radius: 5px;
    cursor: pointer;
    background-color: #344858;
    border: none;
    margin-left: 20px;
}

.searchAmisButton {
    width: 15%;
    font-family: 'kanit', Helvetica;
    font-size: 2vw;
    border-radius: 5px;
    cursor: pointer;
    background-color: #344858;
    border: none;
    color: rgb(136, 174, 187);
    margin-left: 20px;
}

input::placeholder {
    color: rgb(136, 174, 187);
    font-size: 2vw;
    padding-left: 7px;
}

.flex{
    display: flex;
}