.main_content{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.historique_title{
    font-size: 2.9vw;
    color: bisque;
    height: 20%;
    width: 100%;
    text-align: center;
    padding: 20px 0px 20px 0px;
}

.tableau_historique table{
    width: 100%;
    align-items: center;
    height: 100%;
}

.label-titres{
    padding: 15px;
    font-size: 1.6vw;
    background-color: #192129;
}

.tableau_historique table tr td{
    align-items: center;
    text-align: center;
    padding: 5px;
}

.tableau_historique table tr{
    background-color: #192129;
}

.tableau_historique table tr:nth-child(even){
    background-color:#232d36;
}



.achat_statut{
    color: #ff1f00;
}

.vente_statut{
    color: #22ff00;
}

.dividende_statut{
    color: #00a6ff;
}