@font-face {
    font-family: 'kanit';
    src: url('../fonts/kanit-bold.woff2') format('woff2');
}

/*index + navbar*/

* {
    margin: 0;
    padding: 0;
    text-decoration: None;
    list-style: None;
}

body {
    font-family: 'kanit', Helvetica;
    background: #000;
}

h1 {
    position: absolute;
    color: #fff;
    margin-top: 230px;
    margin-left: 350px;
    font-size: 3em;
}

.pInfo{
    position: absolute;
    color: #fff;
    text-align: justify;
    font-size: 1.2em;
    top: 200px;
    padding: 35px;
    line-height: 1.1em;
}

.php {
    position: absolute;
    color: #fff;
    font-size: 1.2em;
    top: 400px;
}

.menu-padding-50{
    padding: 50px;
}

.menu-padding-20{
    padding: 20px;
}

.navbar {
    position: static;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 10%;
    background-color: #111;
    box-sizing: border-box;
}

.navbar a {
    color: #fff;
}

.navbar .icon {
    position: absolute;
    display: flex;
    color: #fff;
}

.navbar .logo {
    font-size: 2.1em;
    font-weight: bold;
    margin-left: 60px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 35px;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}

.navbar .nav-links ul li :hover {
    text-decoration: underline;
    text-decoration-color: red;
}

/*login*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 530px;
    top: 20px;
    min-height: 75vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #fff;
}

h2 {
    position: absolute;
    font-size: 2em;
    color: #fff;
    text-align: center;
    top: 12%;
    left: 30%;
}

.inputbox {
    position: relative;
    padding-top: 40px;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 70%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: 15px;
}

.inputbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 30px;
}

.forget {
    margin: 20px 0 -10px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

.buttonLog {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    margin-top: 50px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/*register*/
.form-box-register {
    position: relative;
    width: 400px;
    height: 500px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #fff;
}

.h2-register {
    position: absolute;
    font-size: 2em;
    color: #fff;
    text-align: center;
    top: 8%;
    left: 30%;
}

.inputbox-register {
    position: relative;
    padding-top: 40px;
    top: 30px;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox-register label {
    position: absolute;
    top: 70%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: 15px;
}

.inputbox-register input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.inputbox-register ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 30px;
}


.buttonLog-register {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    margin-top: 30px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}
/*photo*/
.modal-btn-register {
    width: 80%;
    height: 40px;
    margin-left: 10%;
    border-radius: 40px;
    margin-top: 40px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
  } 

.modal-container-register {
    visibility: hidden;
    /*background: red;*/
    position: absolute;
    top: 10%;
    left: 100%;
    width: 25vw;
    height: 60vh;
    transition: visibility 0.4s;
}
.modal-container-register.active {
    visibility: visible;
}

.modal-container-register.active {
    opacity: 1;
    transition: opacity 0.4s ease-out;
}
  
.modal-register {
    opacity: 0;
    width: 100%;
    height: 100%;
    padding: 30px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    -webkit-backdrop-filter: blur(15px); /* assure la compatibilité avec safari */
    backdrop-filter: blur(15px);
    background-color: rgba(182, 182, 182, 0.2);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #fff;
    position: absolute;
    top: 50%;
    left: 70%;
    transform: translate(-50%, calc(-50% - 50px));
    transition: opacity 0.4s ease-out,
    transform 0.4s ease-out;
 }
  
.modal-container-register.active .modal-register {
    opacity: 1;
    transform: translate(-50%, -50%);
    transition: opacity 0.4s 0.2s ease-out,
    transform 0.4s 0.2s ease-out;
}
  
  .close-modal-register {
    padding: 8px 10px;
    border: none;
    border-radius: 20%;
    font-size: 18px;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    background: #ff365e;
    color: #fff;
  }
.modal-image1-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 30px;
    left: 45px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image2-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 30px;
    left: 171px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image3-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 30px;
    left: 293px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image4-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 310px;
    left: 171px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image5-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 170px;
    left: 45px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image6-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 170px;
    left: 171px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image7-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 170px;
    left: 297px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image8-register{
    border: none;
    border-radius: 20%;
    position: absolute;
    top: 310px;
    left: 45px;
    cursor: pointer;
    width: 96px;
    height: 120px;
}
.modal-image1-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image2-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image3-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image4-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image5-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image6-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image7-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}
.modal-image8-register img{
    width: 100%;
    height: 100%;
    border-radius: 20%;
}

/*profile*/
.infoProfil{
    position: absolute;
    margin-top: 5vh;
    margin-left: 2vw;
    color: #fff;
    width: 30%;
}
.profilPhoto{
    position: absolute;
    margin-top: 5vh;
    user-select: none;
    width: 10.8vw;
    height: 28.8vh;
}
.profilPhoto img{
    width: 100%;
    height: 100%;
    border: 2px solid #fff;
    border-radius: 20%;
    box-shadow: 5px 5px 5px #fff;
   
}
.infoProfil h2{
    position: absolute;
    font-size: 2.6em;
    margin-left: 50%;
}
.info-user{
    width: 100%;
    position: absolute;
    font-size: 2em;
    margin-top: 5vh;
    margin-left: 15vw;
    border-right: 2px solid #fff;   
}
.info-user label{
    position: absolute;
    color: #fff;
    font-size: 1em;
    margin-top: 5vh;
}
.info-user input{
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    height: 2vh;
    top: 2vh;
    font-size: 0.9em;
    margin-top: 7.7vh;
    padding: 2.8vh;
    margin-left: -1.3vw;
    font-weight: 600;
}
/*Sidenav*/

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 74px;
  left: 0;
  background-color: #111;
  overflow-x: hidden;
  display: block;
  }
  
  .sidenav a {
    padding: 18px 18px 18px 16px;
    text-decoration: none;
    font-size: 19px;
    color: #818181;
    display: block;
  }
  
  .sidenav a:hover {
    color: #f1f1f1;
  }
  
  .main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
  }

  @media only screen and (max-width : 1035px){
    .sidenav {
        height: 100%;
        width: 160px;
        position: fixed;
        z-index: 1;
        top: 108px;
        left: 0;
        background-color: #111;
        overflow-x: hidden;
        display: block;
        }
  }

  .menu_divider{
    border-top: 1px solid #212b36;
  }

  /*Admin*/
  .infoUser{
    position: relative;
    width: 80vw;
    height: 82vh;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #fff;
    color: #fff;
    margin-left: 10vw;
    margin-top: 3vh;
  }
  .tabAdmin{
    border: #fff;
    background: #ff365e;
  }
  