@font-face {
    font-family: 'kanit';
    src: url('../fonts/kanit-bold.woff2') format('woff2');
}

/*index + navbar*/

* {
    margin: 0;
    padding: 0;
    text-decoration: None;
    list-style: None;
}

body {
    font-family: 'kanit', Helvetica;
    background: #000;
}

h1 {
    position: absolute;
    color: #fff;
    margin-top: 230px;
    margin-left: 350px;
    font-size: 3em;
}

.pInfo{
    position: absolute;
    color: #fff;
    text-align: justify;
    font-size: 1.2em;
    top: 200px;
    padding: 35px;
    line-height: 1.1em;
}

.php {
    position: absolute;
    color: #fff;
    font-size: 1.2em;
    top: 400px;
}

.menu-padding-50{
    padding: 50px;
}

.menu-padding-10{
    padding: 10px;
}

.navbar {
    position: absolute;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    box-sizing: border-box;
}

.navbar a {
    color: #fff;
}

.navbar .icon {
    position: absolute;
    display: flex;
    color: #fff;
}

.navbar .logo {
    font-size: 2.1em;
    font-weight: bold;
    margin-left: 60px;
}

.navbar .minilogo {
    font-size: 1.5em;
    font-weight: bold;
    margin-left: 60px;
}

.navbar .nav-links ul {
    display: flex;
}

.navbar .nav-links ul li {
    margin: 0 35px;
    font-size: 1.2em;
    font-weight: 400;
}

.navbar .nav-links ul li.active a {
    color: red;
    font-weight: 600;
}

.navbar .nav-links ul li :hover {
    text-decoration: underline;
    text-decoration-color: red;
}

/*login*/

section {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 530px;
    top: 130px;
    min-height: 70vh;
    width: 100%;
}

.form-box {
    position: relative;
    width: 400px;
    height: 450px;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 20px;
    backdrop-filter: blur(15px);
    justify-content: center;
    align-items: center;
    box-shadow: 5px 5px 5px #fff;
}

h2 {
    font-size: 2em;
    color: #fff;
    text-align: center;
}

.inputbox {
    position: relative;
    padding-top: 30px;
    width: 310px;
    border-bottom: 2px solid #fff;
}

.inputbox label {
    position: absolute;
    top: 70%;
    left: 5px;
    transform: translateY(-50%);
    color: #fff;
    font-size: 1em;
    pointer-events: none;
    transition: .5s;
}

input:focus~label,
input:valid~label {
    top: 15px;
}

.inputbox input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    font-size: 1em;
    color: #fff;
}

.inputbox ion-icon {
    position: absolute;
    right: 8px;
    color: #fff;
    font-size: 1.2em;
    top: 30px;
}

.forget {
    margin: 20px 0 10px;
    font-size: .9em;
    color: #fff;
    display: flex;
    justify-content: center;
}

.forget label input {
    margin-right: 3px;
}

.forget label a {
    color: #fff;
    text-decoration: none;
}

.forget label a:hover {
    text-decoration: underline;
}

.buttonLog {
    width: 100%;
    height: 40px;
    border-radius: 40px;
    margin-top: 15px;
    background: #fff;
    border: none;
    outline: none;
    cursor: pointer;
    font-size: 1em;
    font-weight: 600;
}

.register {
    font-size: .9em;
    color: #fff;
    text-align: center;
    margin: 25px 0 10px;
}

.register p a {
    text-decoration: none;
    color: #fff;
    font-weight: 600;
}

.register p a:hover {
    text-decoration: underline;
}

/*profile*/
.profilPhoto{
    position: absolute;
    margin-top: 150px;
    margin-left: 50px;
    
}
.profilPhoto img{
    width: 170px;
    height: 120x;
    border: 2px solid #fff;
    border-radius: 40px;
    box-shadow: 5px 5px 5px #fff;
   
}
.infoProfil{
    position: absolute;
    margin-top: 150px;
    margin-left: 230px;
    color: #fff;
    width: 35%;
}
.infoProfil h2{
    position: relative;
    font-size: 2.6em;
}
.info-user{
    width: 100%;
    position: relative;
    font-size: 2em;
    margin-left: 30px;
    border-right: 2px solid #fff;   
}
.info-user label{
    position: absolute;
    color: #fff;
    font-size: 1em;
    margin-top: 35px;
}
.info-user input{
    position: relative;
    background: transparent;
    border: none;
    outline: none;
    color: #fff;
    width: 100%;
    height: 15px;
    top: 15px;
    font-size: 0.9em;
    margin-top: 55px;
    padding: 20px;
    margin-left: -20px;
    font-weight: 600;
}